<!DOCTYPE HTML>
<html>
  <head>
    <title>OneAPM 新年抽奖 LeanEngine 后台</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>OneAPM 新年抽奖 LeanEngine 后台</h1>
    <p><a href="/todos">一个简单的「TODO 列表」示例</a></p><br/>
    <p>通过 url 传参数（模拟抽奖传参）请点击下面链接，通过改动 userinfo 参数来变化用户，仅作为测试试用</p>
    <p><a href="/lottery?userinfo=OneAPMer" id="hello">lottery</a></p><br/>
    <p><a href="/produce">产生抽奖数据</a></p>
  </body>
</html>
